div#head {
    width: 500px;
    margin: 120px auto 0px;
}

div#div_container {
    width: 600px;
    margin: 20px auto;
}
table#edit_fruit {
    width: 100%;
    border: 2px gray solid;
    border-collapse: collapse;
    margin: 0 auto;
}

td, th {
    text-align: center;
    border: 2px gray solid;
}